header {
    text-align: center;
}

#res {
    text-align: center;
}


.container {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 5px;
    margin: 0px 150px;
    padding-bottom: 50px;
    background-color: antiquewhite;
}

input {
    border-radius: 5px;
}

#button:hover {
    background-color: aqua;
}